---
import { getFooter } from '#layouts/api';
import SocialLink from './SocialLink.astro';

const currentYear = new Date().getFullYear();

const { brand, socialLinks, copyright, privacyPolicy } = await getFooter();
---

<footer class="bg-footer-background text-footer-text py-xl px-md lg:py-xl lg:px-big-3">
  <div class="gap-lg max-w-max-width mx-auto flex w-full flex-col items-center lg:flex-row lg:justify-between">
    <div>
      <a
        href="#home"
        class="text-md text-footer-text block min-w-[210px] text-center font-bold tracking-wider no-underline lg:text-left"
      >
        {brand}
      </a>
    </div>

    <!-- Social Links -->
    <div class="gap-sm flex justify-center">
      {socialLinks?.map(link => <SocialLink href={link.url} title={link.title} icon={link.image} />)}
    </div>

    <!-- Copyright & Privacy Policy -->
    <div class="gap-xs flex flex-col items-center lg:items-end">
      <a href="/privacy-policy" class="text-2xs text-footer-text underline transition-colors duration-200">
        {privacyPolicy}
      </a>
      <p class="text-2xs m-0 min-w-[210px] text-center leading-snug lg:text-right">
        &copy; {currentYear}
        {copyright}
      </p>
    </div>
  </div>
</footer>
