---
import type { LanguageCode } from '@content-island/api-client';
import { LANGUAGE_NAMES, LANGUAGES } from '#core/constans';
import { getFooter } from '#layouts/api';
import { getPrivacyPolicy } from '#pods/privacy-policy/api';
import SocialLink from './SocialLink.astro';

interface Props {
  lang: LanguageCode;
  languagePaths?: Partial<Record<LanguageCode, string>>;
}

const currentYear = new Date().getFullYear();

const { lang, languagePaths } = Astro.props as Props;
const { brand, socialLinks, copyright, privacyPolicy } = await getFooter(lang);
const { slug } = await getPrivacyPolicy(lang);
const currentPath = Astro.url.pathname;
const [, , ...pathSegments] = currentPath.split('/').filter(Boolean);
const currentSlug = pathSegments.join('/');
---

<footer class="bg-footer-background text-footer-text py-xl px-md lg:py-xl lg:px-big-3">
  <div class="gap-lg max-w-max-width mx-auto flex w-full flex-col items-center lg:flex-row lg:justify-between">
    <div>
      <a
        href={`/${lang}`}
        class="text-md text-footer-text block min-w-[210px] text-center font-bold tracking-wider no-underline lg:text-left"
      >
        {brand}
      </a>
      {
        LANGUAGES.length > 1 && (
          <select
            id="language-select"
            aria-label="Select language"
            class="bg-footer-background text-footer-text border-footer-text focus-visible:outline-primary w-full max-w-[219px] cursor-pointer appearance-none border bg-[url('/ArrowDown.svg')] bg-size-[28px] bg-position-[calc(100%-6px)_50%] bg-no-repeat px-(--spacing-sm) py-[6.4px] pr-[38px] text-[14px] focus-visible:border-transparent focus-visible:outline-[1.5px]"
            style="grid-area: language;"
          >
            {LANGUAGES.map(language => {
              const slugPart = currentSlug ? `/${currentSlug}` : '/';
              const optionValue = languagePaths?.[language] ?? `/${language}${slugPart}`;
              return (
                <option value={optionValue} selected={lang === language}>
                  {LANGUAGE_NAMES[language]}
                </option>
              );
            })}
          </select>
        )
      }
    </div>

    <!-- Social Links -->
    <div class="gap-sm flex justify-center">
      {socialLinks?.map(link => <SocialLink href={link.url} title={link.title} icon={link.image} />)}
    </div>

    <!-- Copyright & Privacy Policy -->
    <div class="gap-xs flex flex-col items-center lg:items-end">
      <a href={`/${lang}/${slug}`} class="text-2xs text-footer-text underline transition-colors duration-200">
        {privacyPolicy}
      </a>
      <p class="text-2xs m-0 min-w-[210px] text-center leading-snug lg:text-right">
        &copy; {currentYear}
        {copyright}
      </p>
    </div>
  </div>
</footer>

<script>
  const languageSelect = document.getElementById('language-select');

  languageSelect?.addEventListener('change', event => {
    const target = event.target as HTMLSelectElement;
    const value = target.value;
    if (value) window.location.href = value;
  });
</script>
