---
interface Props {
  variant?: 'primary' | 'secondary';
  href?: string;
  type?: 'button' | 'submit' | 'reset';
  class?: string;
}

const { variant = 'primary', href, type = 'button', class: className = '' } = Astro.props;

const baseClass =
  'inline-block py-sm px-md font-semibold text-center rounded leading-snug tracking-wide transition-all duration-300 ease-in-out cursor-pointer w-fit';
const variantClass =
  variant === 'primary'
    ? 'bg-primary-500 text-text-contrast dark:text-text border border-primary-500 hover:bg-primary-600 dark:hover:bg-primary-300 dark:hover:text-primary-950 dark:hover:border-primary-300'
    : 'bg-transparent text-primary-950 dark:text-primary-50 border border-primary-950 dark:border-primary-50 hover:bg-primary-950 dark:hover:bg-primary-50 hover:text-text-contrast';
const classes = `${baseClass} ${variantClass} ${className}`.trim();
---

{
  href ? (
    <a href={href} class={classes}>
      <slot />
    </a>
  ) : (
    <button type={type} class={classes}>
      <slot />
    </button>
  )
}
